html {
  font-size: 18px;
}

html,
body,
#app {
  height: 100%;
  /* height: 100vh; */
  overflow: hidden;
  font-family: "my-font";
}


@font-face {
  font-family: "my-font";
  src: url("../font/锐字真言体.TTF");
}

.main {
  height: 100%;
}

body,
ul,
li,
a,
p,
div {
  padding: 0px;
  margin: 0px;
}

.layout {
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}